$black: #000 !default;
$white: #fff !default;

$primary: #2f89fc !default;
$accent: #f52e91 !default;
$secondary: #6d728b !default;
$success: #06cc89 !default;
$info: #0ea1e6 !default;
$warning: #f68718 !default;
$danger: #ff4457 !default;
$grey: #afb7c1 !default;
$dark: #33374b !default;
$light: #f2f4fe !default;

$theme-colors: () !default;

$theme-colors: map-merge(
  (
    "primary": $primary,
    "accent": $accent,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "grey": $grey,
    "dark": $dark,
    "light": $light,
    "deepGreen":#18848bec,
    "deepRed": #c5384fec,
  ),
  $theme-colors
);

$facebook: #3b5999 !default;
$twitter: #1da1f2 !default;
$google-plus: #db4437 !default;
$youtube: #cd201f !default;
$dribbble: #ea4c89 !default;
$pinterest: #bd081c !default;
$slack: #3aaf85 !default;
$linkedin: #0077b5 !default;

$social-colors: () !default;

$social-colors: map-merge(
  (
    "facebook": $facebook,
    "twitter": $twitter,
    "google-plus": $google-plus,
    "youtube": $youtube,
    "dribbble": $dribbble,
    "pinterest": $pinterest,
    "slack": $slack,
    "linkedin": $linkedin,
  ),
  $social-colors
);

$link-color: #4b74fe !default;
$link-color-hover: #3463ff !default;

$font-base: "Open Sans", sans-serif;
$font-weight-base: 400;
$line-height-base: 1.65;

$text-size: () !default;

$text-size: map-merge(
  (
    "text-xs": 12px,
    "text-sm": 14px,
    "text-md": 16px,
    "text-lg": 18px,
    "text-xl": 21px,
  ),
  $text-size
);

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: $dark !default;
$yiq-text-light: $white !default;

// Buttons
$btn-padding: 10px 28px !default;
$btn-transition: all 0.2s ease !default;
$btn-box-shadow: 0 4px 12px !default;

// Breadcrumb
$breadcrumb-padding-x: 1rem !default;

// Navbar
$navbar-link-padding-x: 1rem !default;

// Images
$avatar-size: 32px;
